In [129]:
import requests
from tqdm import tqdm
from bs4 import BeautifulSoup as bs
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time

In [131]:
link='https://1xbet.whoscored.com/Regions/206/Tournaments/4/Seasons/9682/Stages/22176/TeamStatistics/Spain-LaLiga-2023-2024'
browser=webdriver.Chrome()
browser.get(link)
time.sleep(6)

In [132]:
content=browser.find_element(By.ID, 'layout-wrapper')

In [135]:
print(content.text)

Spain
»
LaLiga
Copa del Rey
Supercopa de Espana
Segunda División
Liga F
Primera Division RFEF
»
2024/2025
2023/2024
2022/2023
2021/2022
2020/2021
2019/2020
2018/2019
2017/2018
2016/2017
2015/2016
2014/2015
2013/2014
2012/2013
2011/2012
2010/2011
2009/2010
2008/2009
2007/2008
2006/2007
2005/2006
2004/2005
2003/2004
2002/2003
2001/2002
2000/2001
1999/2000
LaLiga
Add to favourites
SummaryFixturesTeam StatisticsPlayer StatisticsReferee Statistics
LaLiga Team Statistics
Summary
Defensive
Offensive
xG
Detailed
Overall
Home
Away
Team
Goals Shots pg Discipline Possession% Pass% AerialsWon Rating
1. Real Madrid 87 15.7 674 59.3 90.1 8.9 6.93
2. Barcelona 79 15.7 852 64.7 88.6 12 6.82
3. Girona 85 12.7 751 57.1 87.9 10.1 6.75
4. Atletico Madrid 70 12.7 825 50.8 84.6 11.4 6.70
5. Athletic Club 61 12.2 755 49.4 79.6 14.4 6.67
6. Real Betis 48 12.9 853 50.1 83.0 12.9 6.65
7. Real Sociedad 51 12.1 982 55.5 82.0 20.3 6.64
8. Sevilla 48 12.9 1084 50.0 81.5 16.3 6.62
9. Villarreal 65 12.3 1028 49.3 84.2 12.7 6.62
10. Celta Vigo 46 12.4 625 45.8 80.2 14.1 6.56
11. Mallorca 33 11 1014 44.5 75.7 20.8 6.55
12. Valencia 40 9.9 605 43.6 77.0 13 6.55
13. Deportivo Alaves 36 12.2 841 40.7 73.9 15.4 6.53
14. Osasuna 45 11.2 765 47.3 77.0 20.2 6.51
15. Getafe 42 11.9 12610 44.4 72.6 17.8 6.51
16. Las Palmas 33 10.3 805 59.7 85.4 10.8 6.51
17. Rayo Vallecano 29 13 1015 49.4 78.2 13.7 6.47
18. Almeria 43 12.6 856 46.0 79.4 15 6.47
19. Cadiz 26 10.5 1077 42.7 74.3 16.9 6.44
20. Granada 38 10.6 964 45.0 77.6 12.9 6.39
LaLiga Situational Statistics
Goal Types
Pass Types
Card Situations
View:
Overall
Home
Away
View:
For
Against
R Team Open Play Counter Attack Set Piece Penalty Own Goal
1 Real Madrid 65 8 10 2 2
2 Girona 64 2 11 7 1
3 Barcelona 57 2 11 6 3
4 Atletico Madrid 52 6 5 5 2
5 Athletic Club 44 3 9 3 2
6 Villarreal 41 6 12 5 1
7 Real Betis 32 3 9 2 2
8 Almeria 31 5 4 2 1
9 Valencia 28 2 1 8 1
10 Real Sociedad 28 4 12 4 3
11 Getafe 28 1 7 6 0
12 Celta Vigo 28 7 7 3 1
13 Osasuna 26 1 14 4 0
14 Sevilla 26 5 13 2 2
15 Las Palmas 22 2 6 3 0
16 Granada 21 3 6 5 3
17 Mallorca 17 0 15 1 0
18 Deportivo Alaves 17 5 8 3 3
19 Cadiz 15 0 7 3 1
20 Rayo Vallecano 14 1 8 6 0
LaLiga Positional Statistics
Attack Sides
Shot Directions
Shot Zones
Action Zones
View:
Overall
Home
Away
R Team Left Side Middle of the pitch Right Side
1 Las Palmas 43% 25% 33%
2 Real Betis 42% 21% 37%
3 Real Madrid 40% 25% 35%
4 Real Sociedad 40% 24% 36%
5 Rayo Vallecano 39% 23% 38%
6 Getafe 39% 27% 34%
7 Deportivo Alaves 38% 24% 38%
8 Osasuna 38% 24% 38%
9 Cadiz 38% 26% 36%
10 Sevilla 37% 23% 41%
11 Mallorca 36% 27% 37%
12 Valencia 36% 22% 42%
13 Atletico Madrid 36% 25% 39%
14 Celta Vigo 36% 25% 40%
15 Granada 36% 26% 38%
16 Athletic Club 35% 25% 41%
17 Barcelona 35% 29% 36%
18 Almeria 35% 25% 40%
19 Girona 34% 25% 41%
20 Villarreal 32% 28% 40%

In [137]:
table_summary=content.find_element(By.ID, 'statistics-team-table-summary')

In [139]:
print(table_summary.text)

Team
Goals Shots pg Discipline Possession% Pass% AerialsWon Rating
1. Real Madrid 87 15.7 674 59.3 90.1 8.9 6.93
2. Barcelona 79 15.7 852 64.7 88.6 12 6.82
3. Girona 85 12.7 751 57.1 87.9 10.1 6.75
4. Atletico Madrid 70 12.7 825 50.8 84.6 11.4 6.70
5. Athletic Club 61 12.2 755 49.4 79.6 14.4 6.67
6. Real Betis 48 12.9 853 50.1 83.0 12.9 6.65
7. Real Sociedad 51 12.1 982 55.5 82.0 20.3 6.64
8. Sevilla 48 12.9 1084 50.0 81.5 16.3 6.62
9. Villarreal 65 12.3 1028 49.3 84.2 12.7 6.62
10. Celta Vigo 46 12.4 625 45.8 80.2 14.1 6.56
11. Mallorca 33 11 1014 44.5 75.7 20.8 6.55
12. Valencia 40 9.9 605 43.6 77.0 13 6.55
13. Deportivo Alaves 36 12.2 841 40.7 73.9 15.4 6.53
14. Osasuna 45 11.2 765 47.3 77.0 20.2 6.51
15. Getafe 42 11.9 12610 44.4 72.6 17.8 6.51
16. Las Palmas 33 10.3 805 59.7 85.4 10.8 6.51
17. Rayo Vallecano 29 13 1015 49.4 78.2 13.7 6.47
18. Almeria 43 12.6 856 46.0 79.4 15 6.47
19. Cadiz 26 10.5 1077 42.7 74.3 16.9 6.44
20. Granada 38 10.6 964 45.0 77.6 12.9 6.39

In [141]:
attr=table_summary.find_elements(By.TAG_NAME,'th')

In [143]:
col_names=[]
for i in attr:
    col_names.append(i.text)

In [145]:
col_names

['Team',
 'Goals',
 'Shots pg',
 'Discipline',
 'Possession%',
 'Pass%',
 'AerialsWon',
 'Rating']

In [147]:
rows=table_summary.find_elements(By.TAG_NAME,'tr')

In [149]:
len(rows)

21

In [151]:
print(rows[1].text)

1. Real Madrid 87 15.7 674 59.3 90.1 8.9 6.93

In [153]:
row_cells=rows[1].find_elements(By.TAG_NAME,'td')

In [155]:
for cell in row_cells:
    print(cell.text)

1. Real Madrid
87
15.7
674
59.3
90.1
8.9
6.93

In [175]:
Yellow_card=[]
Red_card=[]
Standings=[]
for j in range(1,21):
    row_cells=rows[j].find_elements(By.TAG_NAME,'td')
    
    cards=row_cells[3].find_elements(By.TAG_NAME,'span')
    Yellow_card.append(cards[0].text)
    Red_card.append(cards[1].text)
    
    Standings.append([row_cells[0].text,row_cells[1].text,row_cells[2].text,Yellow_card[j-1],Red_card[j-1],row_cells[4].text,row_cells[5].text,row_cells[6].text,row_cells[7].text])

In [177]:
for i in range (0,20):
    print(Standings[i])

['1. Real Madrid', '87', '15.7', '67', '4', '59.3', '90.1', '8.9', '6.93']
['2. Barcelona', '79', '15.7', '85', '2', '64.7', '88.6', '12', '6.82']
['3. Girona', '85', '12.7', '75', '1', '57.1', '87.9', '10.1', '6.75']
['4. Atletico Madrid', '70', '12.7', '82', '5', '50.8', '84.6', '11.4', '6.70']
['5. Athletic Club', '61', '12.2', '75', '5', '49.4', '79.6', '14.4', '6.67']
['6. Real Betis', '48', '12.9', '85', '3', '50.1', '83.0', '12.9', '6.65']
['7. Real Sociedad', '51', '12.1', '98', '2', '55.5', '82.0', '20.3', '6.64']
['8. Sevilla', '48', '12.9', '108', '4', '50.0', '81.5', '16.3', '6.62']
['9. Villarreal', '65', '12.3', '102', '8', '49.3', '84.2', '12.7', '6.62']
['10. Celta Vigo', '46', '12.4', '62', '5', '45.8', '80.2', '14.1', '6.56']
['11. Mallorca', '33', '11', '101', '4', '44.5', '75.7', '20.8', '6.55']
['12. Valencia', '40', '9.9', '60', '5', '43.6', '77.0', '13', '6.55']
['13. Deportivo Alaves', '36', '12.2', '84', '1', '40.7', '73.9', '15.4', '6.53']
['14. Osasuna', '45', '11.2', '76', '5', '47.3', '77.0', '20.2', '6.51']
['15. Getafe', '42', '11.9', '126', '10', '44.4', '72.6', '17.8', '6.51']
['16. Las Palmas', '33', '10.3', '80', '5', '59.7', '85.4', '10.8', '6.51']
['17. Rayo Vallecano', '29', '13', '101', '5', '49.4', '78.2', '13.7', '6.47']
['18. Almeria', '43', '12.6', '85', '6', '46.0', '79.4', '15', '6.47']
['19. Cadiz', '26', '10.5', '107', '7', '42.7', '74.3', '16.9', '6.44']
['20. Granada', '38', '10.6', '96', '4', '45.0', '77.6', '12.9', '6.39']

In [179]:
df=pd.DataFrame(Standings,columns=['Teams','Goals','Shots','Yellow Cards','Red Crads','Possesion','Pass','Aerials Won','Rating'])

In [181]:
df.head(3)

,Teams,Goals,Shots,Yellow Cards,Red Crads,Possesion,Pass,Aerials Won,Rating
0,1. Real Madrid,87,15.7,67,4,59.3,90.1,8.9,6.93
1,2. Barcelona,79,15.7,85,2,64.7,88.6,12,6.82
2,3. Girona,85,12.7,75,1,57.1,87.9,10.1,6.75

In [183]:
df.to_csv('LaLiga2023-24/Standings.csv',index=False)

In [189]:
defensive_table=content.find_element(By.ID,'statistics-team-table-defensive')

In [191]:
def_attr=defensive_table.find_elements(By.TAG_NAME,'th')

In [193]:
len(def_attr)

7

In [195]:
def_rows=defensive_table.find_elements(By.TAG_NAME,'tr')

In [197]:
len(def_rows)

21

In [199]:
cols=['Teams','Shots_pg','Tackles_pg','Interceptions_pg','Fouls_pg','Offsides_pg']

Def_Data=[]
for j in range(1,21):
    row_cells=def_rows[j].find_elements(By.TAG_NAME,'td')
    Def_Data.append([row_cells[0].text,row_cells[1].text,row_cells[2].text,row_cells[3].text,row_cells[4].text,row_cells[5].text])

In [201]:
for i in range(0,20):
    print(Def_Data[i])

['1. Sevilla', '13.2', '18.3', '8.2', '12.6', '2']
['2. Real Betis', '11.8', '18.2', '9.1', '11.3', '1.9']
['3. Mallorca', '12.6', '18.1', '9.6', '14.9', '2.7']
['4. Cadiz', '13.4', '17.7', '7.8', '15.2', '2.4']
['5. Las Palmas', '11.6', '17.4', '7.4', '10.8', '2.4']
['6. Valencia', '10.9', '17.3', '8.5', '12.7', '1.8']
['7. Atletico Madrid', '11.9', '17.2', '6.7', '11.5', '3.2']
['8. Real Sociedad', '10.4', '17.1', '6.7', '15.9', '2.4']
['9. Granada', '13', '16.8', '7.4', '13.5', '2']
['10. Almeria', '15.6', '16.7', '8.2', '12.6', '2']
['11. Rayo Vallecano', '11.7', '16.6', '8.1', '14.8', '2.5']
['12. Celta Vigo', '12.6', '16.5', '7.8', '12.2', '1.7']
['13. Getafe', '12', '16', '8.1', '17.1', '2.1']
['14. Athletic Club', '10.8', '15.3', '7.3', '13.4', '2.1']
['15. Deportivo Alaves', '11.9', '15.2', '7.3', '12.7', '1.8']
['16. Villarreal', '15.4', '15.2', '8', '12.8', '2.4']
['17. Barcelona', '10.9', '15', '6.8', '10.8', '2.6']
['18. Real Madrid', '10.3', '14.7', '7.8', '9.7', '2.1']
['19. Girona', '13.4', '14.3', '6.8', '10.7', '2.5']
['20. Osasuna', '11.5', '13.8', '6.9', '13.6', '1.8']

In [205]:
df2=pd.DataFrame(Def_Data,columns=cols)
df2.head(3)

           Teams Shots_pg Tackles_pg Interceptions_pg Fouls_pg Offsides_pg
0     1. Sevilla     13.2       18.3              8.2     12.6           2
1  2. Real Betis     11.8       18.2              9.1     11.3         1.9
2    3. Mallorca     12.6       18.1              9.6     14.9         2.7

In [207]:
df2.to_csv('LaLiga2023-24/Defensive_Summary.csv',index=False)

In [209]:
offensive_table=content.find_element(By.ID,'statistics-team-table-offensive')

In [211]:
offe_attr=offensive_table.find_elements(By.TAG_NAME,'th')

In [213]:
len(offe_attr)

6

In [217]:
offe_rows=offensive_table.find_elements(By.TAG_NAME,'tr')

cols=['Teams','Shots_pg','Shots_ot_pg','Dribbles_pg','Fouled_pg']

Offe_Data=[]

for j in range(1,21):
    row_cells=offe_rows[j].find_elements(By.TAG_NAME,'td')
    Offe_Data.append([row_cells[0].text,row_cells[1].text,row_cells[2].text,row_cells[3].text,row_cells[4].text])

In [219]:
for i in range(0,20):
    print(Offe_Data[i])

['1. Real Madrid', '15.7', '6.6', '10.6', '13.8']
['2. Barcelona', '15.7', '6.1', '10.1', '12.3']
['3. Rayo Vallecano', '13', '4.4', '7.4', '13.6']
['4. Real Betis', '12.9', '4.1', '10.2', '13.1']
['5. Sevilla', '12.9', '4.3', '7.7', '11.7']
['6. Girona', '12.7', '5.1', '9.3', '12.4']
['7. Atletico Madrid', '12.7', '5.4', '7.8', '11.8']
['8. Almeria', '12.6', '4.4', '7.9', '13']
['9. Celta Vigo', '12.4', '4.2', '7.8', '12.8']
['10. Villarreal', '12.3', '4.5', '9.2', '12.2']
['11. Deportivo Alaves', '12.2', '3.9', '8.2', '11.8']
['12. Athletic Club', '12.2', '4.5', '8.9', '11.3']
['13. Real Sociedad', '12.1', '4.1', '8.4', '11.6']
['14. Getafe', '11.9', '4.2', '6.3', '11.5']
['15. Osasuna', '11.2', '3.4', '6.2', '10.3']
['16. Mallorca', '11', '3.6', '6.6', '10.8']
['17. Granada', '10.6', '3.4', '8', '13.3']
['18. Cadiz', '10.5', '3.2', '6.1', '13.1']
['19. Las Palmas', '10.3', '3.3', '8.3', '13.1']
['20. Valencia', '9.9', '3.5', '7.3', '12.5']

In [225]:
df3=pd.DataFrame(Offe_Data,columns=cols)
df3.head(3)

               Teams Shots_pg Shots_ot_pg Dribbles_pg Fouled_pg
0     1. Real Madrid     15.7         6.6        10.6      13.8
1       2. Barcelona     15.7         6.1        10.1      12.3
2  3. Rayo Vallecano       13         4.4         7.4      13.6

In [229]:
df3.to_csv('LaLiga2023-24/Offensive_Summary.csv',index=False)

In [253]:
xg_table=content.find_element(By.ID,'statistics-team-table-xg')

In [255]:
xg_attr=xg_table.find_elements(By.TAG_NAME,'th')

In [257]:
len(xg_attr)

7

In [259]:
xg_rows=xg_table.find_elements(By.TAG_NAME,'tr')

In [263]:
cols=['Teams','xG','Goals','xG_Diff','Shots','xG_shots']
For_xg=[]
for j in range(1,21):
    row_cells=xg_rows[j].find_elements(By.TAG_NAME,'td')
    For_xg.append([row_cells[0].text,row_cells[1].text,row_cells[2].text,row_cells[3].text,row_cells[4].text,row_cells[5].text])

In [265]:
for i in range(0,20):
    print(For_xg[i])

['1. Almeria', '69.71', '75', '5.29', '593', '0.12']
['2. Granada', '68.55', '77', '8.45', '494', '0.14']
['3. Villarreal', '64.4', '64', '-0.4', '586', '0.11']
['4. Sevilla', '63.98', '52', '-11.98', '501', '0.13']
['5. Girona', '63.31', '46', '-17.31', '510', '0.12']
['6. Las Palmas', '62.15', '44', '-18.15', '442', '0.14']
['7. Celta Vigo', '59.6', '54', '-5.6', '478', '0.12']
['8. Getafe', '57.51', '54', '-3.51', '455', '0.13']
['9. Osasuna', '56.02', '56', '-0.02', '438', '0.13']
['10. Cadiz', '55.81', '54', '-1.81', '510', '0.11']
['11. Real Betis', '51.4', '42', '-9.4', '449', '0.11']
['12. Valencia', '50.97', '43', '-7.97', '413', '0.12']
['13. Deportivo Alaves', '50.73', '44', '-6.73', '452', '0.11']
['14. Rayo Vallecano', '47.54', '46', '-1.54', '443', '0.11']
['15. Real Sociedad', '47.25', '38', '-9.25', '395', '0.12']
['16. Mallorca', '46.69', '43', '-3.69', '479', '0.1']
['17. Barcelona', '45.53', '44', '-1.53', '412', '0.11']
['18. Atletico Madrid', '44.32', '43', '-1.32', '453', '0.1']
['19. Athletic Club', '43.75', '33', '-10.75', '410', '0.11']
['20. Real Madrid', '40.57', '25', '-15.57', '392', '0.1']

In [267]:
df4=pd.DataFrame(For_xg,columns=cols)
df4.head(2)

        Teams     xG Goals xG_Diff Shots xG_shots
0  1. Almeria  69.71    75    5.29   593     0.12
1  2. Granada  68.55    77    8.45   494     0.14

In [269]:
df4.to_csv('LaLiga2023-24/Offensive_Summary_Against.csv',index=False)

In [273]:
for_goals_table=content.find_element(By.ID, 'stage-goals-grid')

In [275]:
for_goals_table_rows=for_goals_table.find_elements(By.TAG_NAME, 'tr')

In [277]:
len(for_goals_table_rows)

21

In [279]:
Goals_for=[]
cols=['Teams','Open_Play','Counter_Attack','Set_Piece','Penalty','Own_Goal']
for j in range(1,21):
    row_cells=for_goals_table_rows[j].find_elements(By.TAG_NAME,'td')
    Goals_for.append([row_cells[1].text,row_cells[2].text,row_cells[3].text,row_cells[4].text,row_cells[5].text,row_cells[6].text])

In [283]:
for i in range(0,20):
    print(Goals_for[i])

['Real Madrid', '65', '8', '10', '2', '2']
['Girona', '64', '2', '11', '7', '1']
['Barcelona', '57', '2', '11', '6', '3']
['Atletico Madrid', '52', '6', '5', '5', '2']
['Athletic Club', '44', '3', '9', '3', '2']
['Villarreal', '41', '6', '12', '5', '1']
['Real Betis', '32', '3', '9', '2', '2']
['Almeria', '31', '5', '4', '2', '1']
['Valencia', '28', '2', '1', '8', '1']
['Real Sociedad', '28', '4', '12', '4', '3']
['Getafe', '28', '1', '7', '6', '0']
['Celta Vigo', '28', '7', '7', '3', '1']
['Osasuna', '26', '1', '14', '4', '0']
['Sevilla', '26', '5', '13', '2', '2']
['Las Palmas', '22', '2', '6', '3', '0']
['Granada', '21', '3', '6', '5', '3']
['Mallorca', '17', '0', '15', '1', '0']
['Deportivo Alaves', '17', '5', '8', '3', '3']
['Cadiz', '15', '0', '7', '3', '1']
['Rayo Vallecano', '14', '1', '8', '6', '0']

In [285]:
df5=pd.DataFrame(Goals_for,columns=cols)
df5.head(2)

         Teams Open_Play Counter_Attack Set_Piece Penalty Own_Goal
0  Real Madrid        65              8        10       2        2
1       Girona        64              2        11       7        1

In [287]:
df5.to_csv('LaLiga2023-24/Goal_Types_For.csv',index=False)

In [289]:
Against_goals_table=content.find_element(By.ID, 'stage-goals-grid')
Against_goals_table_rows=Against_goals_table.find_elements(By.TAG_NAME, 'tr')

Goals_against=[]

for j in range(1,21):
    row_cells=Against_goals_table_rows[j].find_elements(By.TAG_NAME,'td')
    Goals_against.append([row_cells[1].text,row_cells[2].text,row_cells[3].text,row_cells[4].text,row_cells[5].text,row_cells[6].text])


for i in range(0,20):
    print(Goals_against[i])

['Granada', '55', '3', '14', '5', '2']
['Almeria', '52', '6', '11', '6', '0']
['Osasuna', '42', '4', '9', '1', '0']
['Villarreal', '38', '5', '15', '6', '1']
['Atletico Madrid', '37', '1', '4', '1', '0']
['Celta Vigo', '37', '2', '9', '6', '3']
['Cadiz', '35', '8', '9', '2', '1']
['Barcelona', '34', '4', '4', '2', '0']
['Getafe', '34', '1', '14', '5', '0']
['Rayo Vallecano', '32', '5', '8', '1', '2']
['Sevilla', '32', '3', '12', '5', '2']
['Deportivo Alaves', '30', '0', '6', '8', '2']
['Valencia', '29', '1', '10', '3', '2']
['Girona', '27', '5', '9', '5', '0']
['Las Palmas', '27', '5', '7', '5', '3']
['Mallorca', '26', '2', '11', '4', '1']
['Real Betis', '24', '2', '9', '7', '3']
['Athletic Club', '23', '4', '5', '1', '4']
['Real Sociedad', '23', '2', '7', '6', '1']
['Real Madrid', '19', '3', '2', '1', '1']

In [291]:
df6=pd.DataFrame(Goals_against,columns=cols)
df6.head(2)

     Teams Open_Play Counter_Attack Set_Piece Penalty Own_Goal
0  Granada        55              3        14       5        2
1  Almeria        52              6        11       6        0

In [293]:
df6.to_csv('LaLiga2023-24/Goals_Types_Against.csv',index=False)

In [297]:
for_pass_table=content.find_element(By.ID, 'stage-passes-grid')
for_pass_table_rows=for_pass_table.find_elements(By.TAG_NAME, 'tr')
cols=['Teams','Cross_pg','Through_Ball_pg','Long_Ball_pg','Short_Passes_pg']

Passes_For=[]

for j in range(1,21):
    row_cells=for_pass_table_rows[j].find_elements(By.TAG_NAME,'td')
    Passes_For.append([row_cells[1].text,row_cells[2].text,row_cells[3].text,row_cells[4].text,row_cells[5].text])
    

for i in range(0,20):
    print(Passes_For[i])

['Real Madrid', '16', '2', '44', '570']
['Barcelona', '17', '3', '43', '570']
['Las Palmas', '15', '2', '47', '519']
['Girona', '18', '1', '45', '496']
['Atletico Madrid', '17', '2', '50', '459']
['Real Sociedad', '18', '1', '51', '415']
['Real Betis', '17', '1', '51', '411']
['Villarreal', '16', '2', '51', '405']
['Athletic Club', '22', '2', '58', '390']
['Sevilla', '25', '1', '61', '382']
['Celta Vigo', '17', '2', '53', '376']
['Rayo Vallecano', '18', '1', '64', '353']
['Osasuna', '21', '1', '67', '344']
['Almeria', '17', '1', '57', '341']
['Valencia', '16', '1', '60', '328']
['Granada', '18', '1', '62', '318']
['Mallorca', '20', '1', '65', '305']
['Getafe', '18', '1', '76', '284']
['Cadiz', '21', '1', '70', '283']
['Deportivo Alaves', '22', '1', '62', '265']

In [299]:
df7=pd.DataFrame(Passes_For,columns=cols)
df7.head(2)

         Teams Cross_pg Through_Ball_pg Long_Ball_pg Short_Passes_pg
0  Real Madrid       16               2           44             570
1    Barcelona       17               3           43             570

In [301]:
df7.to_csv('LaLiga2023-24/Passes_Types_For.csv',index=False)

In [307]:
against_pass_table=content.find_element(By.ID, 'stage-passes-grid')
against_pass_table_rows=against_pass_table.find_elements(By.TAG_NAME, 'tr')


cols=['Teams','Cross_pg','Through_Ball_pg','Long_Ball_pg','Short_Passes_pg']

Passes_Against=[]

for j in range(1,21):
    row_cells=against_pass_table_rows[j].find_elements(By.TAG_NAME,'td')
    Passes_Against.append([row_cells[1].text,row_cells[2].text,row_cells[3].text,row_cells[4].text,row_cells[5].text])

for i in range(0,20):
    print(Passes_Against[i])

['Celta Vigo', '20', '1', '58', '451']
['Valencia', '19', '1', '61', '441']
['Atletico Madrid', '20', '1', '52', '436']
['Deportivo Alaves', '18', '1', '56', '435']
['Cadiz', '20', '1', '57', '425']
['Mallorca', '17', '1', '57', '412']
['Granada', '19', '2', '59', '410']
['Villarreal', '23', '1', '53', '409']
['Almeria', '22', '1', '57', '408']
['Real Betis', '19', '1', '52', '406']
['Osasuna', '18', '2', '59', '404']
['Athletic Club', '16', '1', '64', '402']
['Sevilla', '18', '2', '55', '393']
['Getafe', '17', '2', '64', '392']
['Real Madrid', '18', '1', '47', '368']
['Rayo Vallecano', '18', '1', '62', '366']
['Girona', '19', '1', '51', '349']
['Las Palmas', '18', '3', '57', '317']
['Real Sociedad', '14', '1', '64', '311']
['Barcelona', '15', '1', '53', '279']

In [309]:
df8=pd.DataFrame(Passes_Against,columns=cols)
df8.head(2)

        Teams Cross_pg Through_Ball_pg Long_Ball_pg Short_Passes_pg
0  Celta Vigo       20               1           58             451
1    Valencia       19               1           61             441

In [311]:
df8.to_csv('LaLiga2023-24/Passes_Types_Against.csv',index=False)

In [321]:
card_table=content.find_element(By.ID, 'stage-cards-grid')
card_table_rows=card_table.find_elements(By.TAG_NAME, 'tr')

cards=[]
cols=['Teams','Fouls','Unprofessional','Other']

for j in range(1,21):
    row_cells=card_table_rows[j].find_elements(By.TAG_NAME,'td')
    
    cards.append([row_cells[1].text,row_cells[2].text,row_cells[3].text,row_cells[5].text])    

for i in range(0,20):
    print(cards[i])

['Getafe', '93', '11', '37']
['Cadiz', '83', '10', '21']
['Villarreal', '78', '12', '24']
['Sevilla', '74', '5', '33']
['Granada', '74', '8', '19']
['Rayo Vallecano', '73', '10', '26']
['Almeria', '69', '6', '20']
['Real Sociedad', '67', '7', '26']
['Real Betis', '66', '6', '17']
['Atletico Madrid', '66', '6', '18']
['Mallorca', '65', '4', '38']
['Deportivo Alaves', '60', '10', '15']
['Athletic Club', '58', '7', '18']
['Osasuna', '58', '6', '18']
['Barcelona', '53', '12', '23']
['Girona', '52', '8', '16']
['Las Palmas', '49', '5', '32']
['Valencia', '45', '3', '19']
['Celta Vigo', '45', '5', '19']
['Real Madrid', '42', '10', '20']

In [323]:
df9=pd.DataFrame(cards,columns=cols)
df9.head(2)

    Teams Fouls Unprofessional Other
0  Getafe    93             11    37
1   Cadiz    83             10    21

In [325]:
df9.to_csv('LaLiga2023-24/Cards_Foul_Type.csv',index=False)

In [327]:
Attack_Sides_table=content.find_element(By.ID, 'stage-touch-channels-grid')
Attack_Sides_rows=Attack_Sides_table.find_elements(By.TAG_NAME, 'tr')
cols=['Teams','Left','Middle','Right']

Attack_sides=[]

for j in range(1,21):
    row_cells=Attack_Sides_rows[j].find_elements(By.TAG_NAME,'td')
    Attack_sides.append([row_cells[1].text,row_cells[2].text,row_cells[3].text,row_cells[4].text])

for i in range(0,20):
    print(Attack_sides[i])

['Las Palmas', '43%', '25%', '33%']
['Real Betis', '42%', '21%', '37%']
['Real Madrid', '40%', '25%', '35%']
['Real Sociedad', '40%', '24%', '36%']
['Rayo Vallecano', '39%', '23%', '38%']
['Getafe', '39%', '27%', '34%']
['Deportivo Alaves', '38%', '24%', '38%']
['Osasuna', '38%', '24%', '38%']
['Cadiz', '38%', '26%', '36%']
['Sevilla', '37%', '23%', '41%']
['Mallorca', '36%', '27%', '37%']
['Valencia', '36%', '22%', '42%']
['Atletico Madrid', '36%', '25%', '39%']
['Celta Vigo', '36%', '25%', '40%']
['Granada', '36%', '26%', '38%']
['Athletic Club', '35%', '25%', '41%']
['Barcelona', '35%', '29%', '36%']
['Almeria', '35%', '25%', '40%']
['Girona', '34%', '25%', '41%']
['Villarreal', '32%', '28%', '40%']

In [329]:
df10=pd.DataFrame(Attack_sides,columns=cols)
df10.head(2)

        Teams Left Middle Right
0  Las Palmas  43%    25%   33%
1  Real Betis  42%    21%   37%

In [331]:
df10.to_csv('LaLiga2023-24/Attack_Sides.csv',index=False)

In [333]:
For_Attempts_Sides_table=content.find_element(By.ID, 'stage-attempt-directions-grid')
For_Attempts_Sides_rows=For_Attempts_Sides_table.find_elements(By.TAG_NAME, 'tr')

Attempts_sides_for=[]

for j in range(1,21):
    row_cells=For_Attempts_Sides_rows[j].find_elements(By.TAG_NAME,'td')
    Attempts_sides_for.append([row_cells[1].text,row_cells[2].text,row_cells[3].text,row_cells[4].text])

for i in range(0,20):
    print(Attempts_sides_for[i])

['Las Palmas', '27%', '56%', '17%']
['Real Betis', '24%', '61%', '15%']
['Atletico Madrid', '23%', '61%', '16%']
['Rayo Vallecano', '22%', '58%', '21%']
['Real Madrid', '20%', '63%', '17%']
['Athletic Club', '19%', '66%', '15%']
['Valencia', '19%', '61%', '21%']
['Cadiz', '19%', '68%', '13%']
['Deportivo Alaves', '17%', '68%', '15%']
['Celta Vigo', '17%', '66%', '18%']
['Almeria', '17%', '63%', '19%']
['Sevilla', '16%', '69%', '14%']
['Barcelona', '16%', '71%', '13%']
['Granada', '16%', '67%', '17%']
['Real Sociedad', '15%', '64%', '20%']
['Getafe', '15%', '69%', '16%']
['Villarreal', '15%', '67%', '18%']
['Girona', '12%', '74%', '14%']
['Osasuna', '11%', '74%', '15%']
['Mallorca', '10%', '75%', '15%']

In [335]:
df11=pd.DataFrame(Attempts_sides_for,columns=cols)
df11.head(2)

        Teams Left Middle Right
0  Las Palmas  27%    56%   17%
1  Real Betis  24%    61%   15%

In [337]:
df11.to_csv('LaLiga2023-24/Attempts_Sides.csv',index=False)

In [341]:
Attempts_Sides_table=content.find_element(By.ID, 'stage-attempt-directions-grid')
Attempts_Sides_rows=Attempts_Sides_table.find_elements(By.TAG_NAME, 'tr')

Against=[]


for j in range(1,21):
    row_cells=Attempts_Sides_rows[j].find_elements(By.TAG_NAME,'td')
    Against.append([row_cells[1].text,row_cells[2].text,row_cells[3].text,row_cells[4].text])
    

for i in range(0,20):
    print(Against[i])

['Barcelona', '21%', '62%', '16%']
['Getafe', '21%', '64%', '15%']
['Osasuna', '20%', '61%', '19%']
['Cadiz', '20%', '66%', '14%']
['Almeria', '20%', '67%', '13%']
['Deportivo Alaves', '19%', '63%', '19%']
['Athletic Club', '18%', '64%', '18%']
['Real Sociedad', '18%', '67%', '15%']
['Rayo Vallecano', '18%', '65%', '18%']
['Granada', '18%', '65%', '17%']
['Sevilla', '17%', '67%', '16%']
['Girona', '17%', '66%', '16%']
['Celta Vigo', '16%', '66%', '18%']
['Villarreal', '16%', '67%', '17%']
['Las Palmas', '16%', '68%', '15%']
['Mallorca', '15%', '70%', '16%']
['Valencia', '15%', '68%', '16%']
['Atletico Madrid', '15%', '69%', '16%']
['Real Madrid', '13%', '69%', '18%']
['Real Betis', '13%', '70%', '18%']

In [343]:
df12=pd.DataFrame(Against,columns=cols)
df12.head(2)

       Teams Left Middle Right
0  Barcelona  21%    62%   16%
1     Getafe  21%    64%   15%

In [345]:
df12.to_csv('LaLiga2023-24/Attempts_Sides_Against.csv',index=False)

In [347]:
Attempts_Zones_table=content.find_element(By.ID, 'stage-attempt-zones')
Attempts_Zones_rows=Attempts_Zones_table.find_elements(By.TAG_NAME, 'tr')

cols=['Teams','6yards','18yards','Outsidethebox']
attempt_zones_for=[]
for j in range(1,21):
    row_cells=Attempts_Zones_rows[j].find_elements(By.TAG_NAME,'td')
    attempt_zones_for.append([row_cells[1].text,row_cells[2].text,row_cells[3].text,row_cells[4].text])

for i in range(0,20):
    print(attempt_zones_for[i])

['Girona', '14%', '55%', '31%']
['Barcelona', '11%', '59%', '31%']
['Real Sociedad', '10%', '49%', '41%']
['Athletic Club', '9%', '65%', '26%']
['Mallorca', '8%', '61%', '31%']
['Deportivo Alaves', '8%', '56%', '36%']
['Atletico Madrid', '8%', '65%', '27%']
['Sevilla', '8%', '58%', '34%']
['Celta Vigo', '8%', '57%', '35%']
['Real Madrid', '7%', '57%', '36%']
['Getafe', '7%', '54%', '39%']
['Cadiz', '7%', '53%', '40%']
['Villarreal', '7%', '67%', '26%']
['Almeria', '7%', '51%', '41%']
['Granada', '7%', '61%', '33%']
['Real Betis', '6%', '61%', '33%']
['Valencia', '6%', '55%', '38%']
['Osasuna', '6%', '59%', '35%']
['Rayo Vallecano', '6%', '47%', '47%']
['Las Palmas', '6%', '47%', '47%']

In [349]:
df13=pd.DataFrame(attempt_zones_for,columns=cols)
df13.head(2)

       Teams 6yards 18yards Outsidethebox
0     Girona    14%     55%           31%
1  Barcelona    11%     59%           31%

In [351]:
df13.to_csv('LaLiga2023-24/Shot_Zones_For.csv',index=False)

In [353]:
Attempts_Zones_table=content.find_element(By.ID, 'stage-attempt-zones')
Attempts_Zones_rows=Attempts_Zones_table.find_elements(By.TAG_NAME, 'tr')

attempt_zones_against=[]

for j in range(1,21):
    row_cells=Attempts_Zones_rows[j].find_elements(By.TAG_NAME,'td')
    attempt_zones_against.append([row_cells[1].text,row_cells[2].text,row_cells[3].text,row_cells[4].text])
    

for i in range(0,20):
    print(attempt_zones_against[i])

['Osasuna', '11%', '58%', '31%']
['Granada', '10%', '55%', '36%']
['Valencia', '9%', '56%', '34%']
['Atletico Madrid', '9%', '52%', '39%']
['Sevilla', '9%', '56%', '35%']
['Almeria', '9%', '58%', '32%']
['Real Betis', '8%', '54%', '38%']
['Real Sociedad', '8%', '56%', '36%']
['Getafe', '8%', '59%', '33%']
['Celta Vigo', '8%', '64%', '29%']
['Girona', '8%', '57%', '35%']
['Villarreal', '8%', '57%', '35%']
['Las Palmas', '8%', '63%', '30%']
['Athletic Club', '7%', '55%', '38%']
['Deportivo Alaves', '7%', '60%', '33%']
['Barcelona', '7%', '59%', '33%']
['Cadiz', '7%', '54%', '39%']
['Real Madrid', '6%', '56%', '38%']
['Rayo Vallecano', '6%', '60%', '33%']
['Mallorca', '4%', '50%', '46%']

In [355]:
df14=pd.DataFrame(attempt_zones_against,columns=cols)
df14.head(2)

     Teams 6yards 18yards Outsidethebox
0  Osasuna    11%     58%           31%
1  Granada    10%     55%           36%

In [357]:
df14.to_csv('LaLiga2023-24/Shot_Zones_Against.csv',index=False)

In [359]:
Touch_Zones_table=content.find_element(By.ID, 'stage-touch-zones')
Touch_Zones_rows=Touch_Zones_table.find_elements(By.TAG_NAME, 'tr')
Touches=[]
cols=['Teams','Own_Third','Middle_Third','Final_Third']

for j in range(1,21):
    row_cells=Touch_Zones_rows[j].find_elements(By.TAG_NAME,'td')
    Teams.append(row_cells[1].text)
    Own_Third.append(row_cells[2].text)
    Middle_Third.append(row_cells[3].text)
    Final_Third.append(row_cells[4].text)
    Touches.append([row_cells[1].text,row_cells[2].text,row_cells[3].text,row_cells[4].text])

for i in range(0,20):
    print(Touches[i])

['Villarreal', '32%', '41%', '27%']
['Granada', '31%', '43%', '26%']
['Girona', '31%', '43%', '27%']
['Almeria', '31%', '45%', '24%']
['Cadiz', '30%', '43%', '28%']
['Mallorca', '29%', '46%', '26%']
['Deportivo Alaves', '29%', '43%', '29%']
['Valencia', '29%', '44%', '27%']
['Atletico Madrid', '29%', '44%', '26%']
['Las Palmas', '29%', '46%', '25%']
['Real Betis', '28%', '44%', '29%']
['Sevilla', '28%', '42%', '29%']
['Rayo Vallecano', '28%', '43%', '28%']
['Celta Vigo', '28%', '45%', '27%']
['Osasuna', '26%', '44%', '30%']
['Real Madrid', '25%', '43%', '31%']
['Real Sociedad', '25%', '45%', '30%']
['Barcelona', '25%', '44%', '31%']
['Getafe', '24%', '44%', '31%']
['Athletic Club', '23%', '43%', '33%']

In [361]:
df15=pd.DataFrame(Touches,columns=cols)
df15.head(2)

        Teams Own_Third Middle_Third Final_Third
0  Villarreal       32%          41%         27%
1     Granada       31%          43%         26%

In [363]:
df15.to_csv('LaLiga2023-24/Touches_part_of_ground.csv',index=False)